
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.messaging{
    display: flex; 
}
.MessagingPane{
    background-color: rgba(172, 172, 172, 0.404);
    flex:8;
    padding:50px;
    margin: 12px;
    margin-right: 24px;
    border-radius: 15px;
    height:25em;
    
}
.Sidebar{
    flex:2.5;
    background-color: rgba(172, 172, 172, 0.26);
    height:50em;
    border-radius: 15px;
    margin:12px;
}

.P2{
    background-color: rgb(255, 255, 255);
    padding:15px;
    margin:12px;
    border-radius: 15px;
    display: block;
    left:0;
    width: 50%;
    font-family: poppins;
    font-size: medium;
    float: right; 
    clear: both;
}
.P1{
    background-color: #D3FFC8;
    padding:15px;
    margin:12px;
    border-radius: 15px;
    width: 50%;
    font-family: poppins;
    font-size: medium;
    float: left;
    clear: both;
}
.topic{
    padding:10px;
    background-color: white;
    width: 30%;
    margin: 3%;
    border-radius: 10px;
    text-align: center;
    font-family: poppins;
}
.ChatCard{
    margin-bottom: 5px;
    background-color: White;
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px;
    border-radius: 12px;
    font-family: poppins;
    
}
.T{
    display: flex;
    justify-content: space-between;
}
.Time{
    text-align: right;
}