
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.messaging{
    display: flex; 
}
.MessagingPane{
    background-color: rgba(172, 172, 172, 0.404);
    flex:4;
    padding:50px;
    margin: 12px;
    margin-right: 24px;
    border-radius: 15px;
    height:30em;
    overflow-x: hidden;
    overflow-y: auto;
    
}
.MessagingPane::-webkit-scrollbar {
    width: 0.5em;
    padding-right:0.2em ;
  }
.MessagingPane::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 20px;}
.Sidebar::-webkit-scrollbar {
    width: 0.5em;
  }
.Sidebar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 20px;


  }
.Sidebar{
    flex:2.5;
    background-color: rgba(172, 172, 172, 0.26);
    height:calc(100vh - 140px);
    border-radius: 15px;
    margin:12px;
    overflow-x: hidden;
    overflow-y: auto;
}

.P2{
    background-color: rgb(255, 255, 255);
    padding:15px;
    margin:12px;
    border-radius: 15px;
    display: block;
    left:0;
    max-width: 75%;
    
    font-family: poppins;
    font-size: 14px;
    float: right; 
    /* clear: both;  */
}
.P1{
    background-color: #D3FFC8;
    padding:15px;
    margin:12px;
    border-radius: 15px;
    max-width: 75%;
    font-family: poppins;
    font-size: 14px;
    float: left;
    /* clear: both;  */
}
.topic{
    padding:10px;
    background-color: white;
    width: 30%;
    margin: 3%;
    border-radius: 10px;
    text-align: center;
    font-family: poppins;
    
}
.ChatCard{
    margin-bottom: 5px;
    background-color: White;
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px;
    border-radius: 12px;
    font-family: poppins;
    
}
.ChatCard:hover{
    background-color: rgb(221, 221, 221);
}
.T{
    display: flex;
    justify-content: space-between;
}
.Time{
    text-align: right;
}