
td{
    font-family: poppins;
}
.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    text-align: left;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tr:last-child td {
    border-bottom: 1px solid #ddd;
  }
  
  .cell {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .bold {
    font-weight: bold;
    font-size: 18px;
  }
  
  .more-btn {
    border:none;
    border-radius: 5px;
    font-family: poppins;
    text-align: center;
    background-color:#8742BC;
    text-decoration: none;
    display: inline-block;
  
   
  }
  .B1,.B2{
    cursor: pointer;
    padding:10px;
    color:#8742BC;
    font-size: 15px;
    font-family: poppins;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
}
.B1:hover,.B2:hover{

color:white;
background-color: #8742BC;
}
.B1:active{
    background-color: #8742BC;
}
.ActiveInactivePane{
    background-color: rgba(172, 172, 172, 0.33);
    width:1000px;
    height:355px;
    border-radius: 20px;
}