/* @media screen and (max-width: 768px) {
  .top-buttons{
    font-size: 0.8rem;
    padding: 8px;
    margin: 0.5rem;
  }
} */
.DefaultFont{
    font-family :"Poppins";
}

.dropdown {
    padding: 8px;
    font-size: 16px;
    font-family:'Poppins';
    border: 1px solid #8133BE;
    border-radius: 4px;
    border-color: #8133BE;
    color: #555357;
    
  }


body {
  font-family: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-radius: 0px 10px 10px 0px;
  /* position: relative; */
}

.container {
  display: flex;
  
}

main {
  width: 100%;
  padding: 20px; 
  margin-left:250px ;

}

.navbar {
  background: #8133be;
  color: azure;
  
  width: auto;
  position:fixed;
  z-index: 1;
}

.top_selection {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  margin: auto;
}

.logo {
  font-size: 20px;
  margin: 5px;
  font-weight: 550;
  font-family: "Poppins";
}

.bars {
  display: flex;
  font-size: 30px;

  font-family: "Poppins";
}

.link {
  display: flex;
  color: #d9d9d9;
  padding: 10px;
  gap: 15px;
  transition: all 0.5s ease;
  font-size: 18px;
  /* font-family: "Poppins"; */
  /* transition:cubic-bezier(0.075, 0.82, 0.165, 1) */
}

.linklogout {
  display: flex;
  color: #d9d9d9;
  padding: 30px;
  gap: 15px;
  font-size: 18px;
  /* margin-top: 210px; */
}

.link:hover {
  background: #d9d9d9;
  color: #8133be;
  border-radius: 25px;
  padding: 10px;
  gap: 15px;
  margin: 5px;
  transition: all 0.5s ease;
  /* transition:cubic-bezier(0.075, 0.82, 0.165, 1) */
}

.active {
  background: #d9d9d9;
  color: #8133be;
  border-radius: 25px;
  padding: 10px;
  gap: 15px;
  margin: 5px;
}

.search {
  margin: 5px;
  margin-bottom: 30px;
  color: #d9d9d9;
  transition: all 0.5s ease;
}

.input_search {
  transition: all 0.5s ease;
  padding: 5px;
}


  .dropdown:focus {
    border-color: #8133BE;
    outline: 444;
  }

  .dropdown:checked{
    background-color: #8133BE;
    color: #fff;
  }

  .dropdown::selection{
    background-color: #8133BE;
    color: #fff;
  }
  .btn-component{
    font-family :"Poppins";
  }
  
 